apiclient==1.0.3
appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.4
email==4.0.2
future==0.16.0
google-api-python-client==1.6.2
googlemaps==2.5.0
httplib2==0.10.3
idna==2.5
oauth2client==4.0.0
packaging==16.8
pymongo[tls,srv]==3.11.0
pyparsing==2.2.0
python-telegram-bot==10.0.1
requests==2.17.3
six==1.11.0
urllib3==1.26.5
utils==0.9.0
xlrd==1.0.0
